html, body {
    min-height: 100%;
    margin: 0;
}

body {
    background-color: #000713;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;

    color: #D5D5D5;
    font-family: 'Zen Dots', sans-serif;
    text-align: center;

    min-height: 100vh;

    padding-top: 30px;

    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    /* border: 1px solid red; */
    width: 75%;
    display: flex;
}

.card div{
    border: 1px solid #5a90f5;
    border-radius: 3%;
    color: #5a90f5;
    margin: 20px;
    width: 55%;
}

.aboutme{
    text-align: center;
    padding: 15px;
}

.aboutme h1{
    background: linear-gradient(to right, #ffffff, #0359f8);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.aboutme p{
    text-align: justify;
}

.commits{
    text-align: center;
}

.commits img{
    width: 95%;
    border-radius: 3%;
    border: 1px solid #5a90f5;
}

.contact{
    text-align: center;
}

.stack-sans-headline-fonts {
  font-family: "Stack Sans Headline", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}